<h1>Alta producto</h1>

<div>
   <form [formGroup]="form" #frmEmpleado="ngForm" (ngSubmit)="operar()">
    
        @if(edicion){
            <label for="">Id producto</label>
             <input placeholder="Id producto" required [readOnly]="true" 
             formControlName="idProducto">
        }
        <label for="">Id producto:</label>
        <input placeholder="id Producto" required formControlName="idProducto"><br>
        <label for=""> Nombre producto:</label>
        <input placeholder="nombre Producto" required formControlName="nombreProducto"><br>
        <label for=""> Precio Unitario:</label>
        <input placeholder="precioUnitario" required formControlName="precioUnitario"><br>
        <label for=""> Unidades en Stock:</label>
        <input placeholder="unidades Stock" required formControlName="unidadesStock"><br>
        <label for=""> Categoria:</label>
        <input placeholder="categoria" required formControlName="categoria"><br><br>
       
        <button type="submit" [disabled]="frmEmpleado.invalid" class="btn btn-primary" style="margin-right: 10px;">Aceptar</button>
        <button type="button" routerLink="" class="btn btn-primary" style="margin-right: 10px;">Cancelar</button>

    </form>

   

</div>
